@page "/Cart"
@using WebShop.Services
@using Core.DTO

@inject ProductCartClientService productCartService

@inject ProductClientService productClientService

@inject ProductCartClientService CartService

@inject HttpClient Http


<PageTitle>Корзина</PageTitle>




    <div class="text-center my-4">
        <p>Ваша корзина пуста. Добавьте товары в корзину, чтобы продолжить.</p>
        <a href="/Catalog" class="btn btn-outline-primary">Перейти в каталог</a>
    </div>


@code {
  



    
}
