
.contacts {
    text-align:center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

    .contacts h2 {
        font-size: 2em;
        color: #333;
        text-align: center;
    }

.contact-info {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.contact-item {
    text-align: center;
}

    .contact-item h3 {
        font-size: 1.2em;
        color: #555;
    }

    .contact-item p, .contact-form label {
        font-size: 1em;
        color: #777;
    }

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    .contact-form input, .contact-form textarea {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .contact-form button {
        padding: 10px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .contact-form button:hover {
            background-color: #555;
        }
