@page "/Delivery"
<section>
    <h1>Доставка и возврат</h1>

    <h2>Доставка</h2>
    <p>
        Мы предлагаем несколько способов доставки:
        <ul>
            <li>Курьерская доставка по вашему адресу.</li>
            <li>Доставка в пункты самовывоза.</li>
        </ul>
    </p>

    <h2>Сроки доставки</h2>
    <p>Доставка осуществляется в течение 3-5 рабочих дней в зависимости от вашего местоположения.</p>

    <h2>Стоимость доставки</h2>
    <p>Стоимость доставки рассчитывается автоматически при оформлении заказа и зависит от выбранного способа и региона.</p>

    <h2>Возврат и обмен товара</h2>
    <h3>Условия возврата</h3>
    <p>Вы можете вернуть товар в течение 14 дней с момента получения, если товар не использовался, сохранены упаковка и товарный вид.</p>

    <h3>Как оформить возврат</h3>
    <p>Для возврата товара обратитесь в нашу службу поддержки по телефону или электронной почте. Мы предоставим вам инструкции по возврату.</p>

    <h3>Возврат денежных средств</h3>
    <p>После получения и проверки товара возврат средств будет осуществлен в течение 7 рабочих дней на ваш банковский счет или карту.</p>

    <h3>Обмен товара</h3>
    <p>В случае неправильного размера или дефекта товара вы можете обменять товар на аналогичный, соблюдая условия возврата.</p>
</section>






@code {

}
