@page "/Oferta"
<section>
    <h1>Публичная оферта</h1>
    <p>Настоящая оферта (далее — Оферта) является официальным предложением компании [Название компании] (далее — Продавец) заключить договор на условиях, изложенных ниже, и является обязательной для исполнения обеими сторонами.</p>

    <h2>1. Предмет договора</h2>
    <p>Продавец обязуется передать товар Покупателю на условиях, указанных на сайте [сайт компании], а Покупатель обязуется принять товар и оплатить его в соответствии с условиями настоящей оферты.</p>

    <h2>2. Порядок заключения договора</h2>
    <p>Договор считается заключенным с момента подтверждения Покупателем заказа через форму на сайте или иным способом.</p>

    <h2>3. Цена и оплата</h2>
    <p>Цена товара, указана на сайте, и может быть изменена Продавцом без предварительного уведомления.</p>

    <h2>4. Права и обязанности сторон</h2>
    <p>Продавец обязуется доставить товар в установленный срок, а Покупатель — принять и оплатить товар в соответствии с условиями.</p>

    <h2>5. Ответственность сторон</h2>
    <p>В случае нарушения условий оферты, стороны несут ответственность в соответствии с действующим законодательством.</p>

    <h3>Заключение договора</h3>
    <p>Вы соглашаетесь с условиями этой оферты при оформлении заказа. Подтверждение заказа — это акт акцепта оферты.</p>
</section>
@code {

}
