@page "/OrderProcessing"
@inject NavigationManager NavigationManager

<PageTitle>Ваш заказ в обработке</PageTitle>

<div class="container my-5 text-center">
    <h1>Ваш заказ принят!</h1>
    <p class="lead mt-4">Спасибо за ваш заказ! Наш менеджер свяжется с вами в ближайшее время для подтверждения.</p>
    <div class="mt-5">
        <a href="/Catalog" class="btn btn-primary btn-lg">Вернуться в каталог</a>
    </div>
</div>

@code {
   
}
