@page "/Policy"

<section>
    <h1>Политика конфиденциальности</h1>
    <p>Компания [Название компании] заботится о конфиденциальности ваших данных и обязуется использовать их только в целях улучшения обслуживания. Мы строго соблюдаем требования законодательства о защите персональных данных.</p>

    <h2>1. Какие данные мы собираем</h2>
    <p>
        При регистрации, оформлении заказа или подписке на рассылку мы собираем следующую информацию:
        <ul>
            <li>Имя и фамилия</li>
            <li>Адрес электронной почты</li>
            <li>Адрес доставки</li>
            <li>Номер телефона</li>
        </ul>
    </p>

    <h2>2. Как мы используем вашу информацию</h2>
    <p>
        Мы используем собранные данные для:
        <ul>
            <li>Обработки и доставки заказов</li>
            <li>Улучшения качества обслуживания</li>
            <li>Отправки информационных рассылок и предложений</li>
        </ul>
    </p>

    <h2>3. Как мы защищаем данные</h2>
    <p>Мы применяем современные меры безопасности для защиты ваших данных от несанкционированного доступа и утечек.</p>

    <h2>4. Передача данных третьим лицам</h2>
    <p>Ваши данные могут быть переданы третьим лицам только в рамках выполнения обязательств перед вами (например, курьерским службам).</p>

    <h2>5. Ваши права</h2>
    <p>Вы имеете право на доступ к своим данным, их исправление или удаление. Для этого достаточно обратиться в службу поддержки.</p>
</section>

@code {

}
