body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

section {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #2c3e50;
}

h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.25rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 15px;
}

ul {
    margin-left: 20px;
    list-style-type: disc;
}

    ul li {
        margin-bottom: 8px;
    }

/* Стили для ссылки (если они понадобятся в будущем) */
a {
    color: #3498db;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
