@* @using ShopAPI.Models
@using ShopAPI.Service
@using System.Text.Json
@page "/Register"

@inherits LayoutComponentBase
@inject IAuth AuthService
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Регистрация</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <EditForm FormName="Register" Model="@registerModel" OnValidSubmit="HandleRegistration">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="mb-3">
                        <label for="registerEmail" class="form-label">Email</label>
                        <InputText id="registerEmail" class="form-control" @bind-Value="registerModel.Email" />
                    </div>
                    <div class="mb-3">
                        <label for="registerPassword" class="form-label">Пароль</label>
                        <InputText id="registerPassword" type="password" class="form-control" @bind-Value="registerModel.Password" />
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Подтвердите пароль</label>
                        <InputText id="confirmPassword" type="password" class="form-control" @bind-Value="registerModel.ConfirmPassword" />
                    </div>
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>



@code {
    [SupplyParameterFromForm(FormName = "Register")]
    public RegisterModel registerModel { get; set; } = new();



    private async Task HandleRegistration()
    {

        Console.WriteLine("Регистрация началась...");

        var result = await AuthService.Register(registerModel);

        if(result.Success)
        {
            Console.WriteLine("Good");
        }
        registerModel = new();

        
    }



} *@