/*body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}*/

.home-layout .content[b-x299w2psqf] {
    min-height: auto; /* ��������� ���������� ������ */
}

.content[b-x299w2psqf] {
    min-height: 100vh;
    padding: 0px;
}
